$mainFont: "Rubik", sans-serif;

$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$neutral-primary: #303133;
$neutral-regular: #231f20;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

$backgroundColor: #ffffff;
$shadowColor: #00000033;
$borderColor: #e6e6e6;
$boldColor: #4a4a4a;
$activeColor: #4f80a8;
$errorColor: #8f4545;
$successColor: #458f49;
