.link {
    color: $neutral-regular;
    font-size: rem(18);
    text-decoration: none;
    transition: 0.3s all;
    &:hover {
        color: $activeColor;
    }
}

.input {
    font-size: rem(18);
    background: $backgroundColor;
    border: 1px solid $borderColor;
    &-search {
        border-radius: 3px;
        padding: 7px 0 7px 30px;
        width: 100%;
    }

    &:focus, :active {
        outline-color: $activeColor;
    }
}

.message {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    &-error {
        color: $errorColor;
        font-size: rem(32);
    }
}
