.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

    &-item {
        display: flex;
        width: 150px;
        justify-content: center;
    }
}
