.search {
    display: flex;
    position: relative;
    width: 250px;

    label {
        position: relative;
    }

    &__ico {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        cursor: pointer;
    }

    &__cities {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        &-item {
            z-index: 2;
            width: 100%;
            border: 1px solid $borderColor;
            background: $backgroundColor;
            border-radius: 2px;
            padding: 4px;
        }
    }
}

@media screen and (max-width: $tableWidth) {
    .search {
        margin: 0 auto;
    }
}
